@import "~normalize.css";
@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/icons/lib/css/blueprint-icons.css";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul {
  list-style-type: none;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  min-height: 100vh;
  background-image: url("./login-background.jpeg");
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
}

.nav-selected {
  font-weight: bold;
  text-decoration: underline;
}

.main-container {
  margin:auto;
  width: 50vw;
  min-width: 450px;
}

.login-input-label {
  margin: auto;
}

.login-input {
  width: 20vw;
  max-width: 250px;
  min-width: 100px;
  margin-bottom: 15px;
}

.login-dialog {
  width:40vw;
  max-width: 500px;
  min-width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.votacion-container {
  margin: auto;
  margin-bottom: 20px;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  text-align: center;
}

.resultados-container {
  margin: auto;
  margin-bottom: 20px;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  text-align: center;
}

.lista-casas {
  border: 1px solid black;
  padding: 10px;
  border-radius: 20px;
  background-color: blanchedalmond;
}

.lista-casas div {
  margin: 5px;
  text-align: left;
}

.casa-card {
  width: 25vw;
  height: 45vh;
  display: flex;
  flex-direction: column;
}

.casa-card * {
  margin: 2px ;
}

.casa-card img {
  width: 15vw ;
  margin-bottom: 7px;
}

.casa-dialog-container{
  width: 70vw;
}
.casa-dialog {
  margin-right: 10px;
  margin-left: 10px;
}

a {
  font-size: large;
  font-weight: bold;
  margin-left: 20px;
  color: blanchedalmond;
}